@use "../media" as *;
@use "../mixins" as *;

.services {

  &__header {
    text-align: center;
    margin-bottom: 60px;

    .services__title {
      @include fluid-text(32);
      font-weight: 700;
      margin-bottom: 16px;
    }

    p {
      @include fluid-text(16);
      color: var(--color-gray);
      max-width: 352px;
      margin: 0 auto;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;

    @include tablet-above {
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }

    @include desktop-above {
      justify-content: space-between;
      max-width: 1140px;
      margin: 0 auto;
    }
  }

  .service-card {
    @include flex-center(false);
    flex-direction: column;
    text-align: center;
    background-color: var(--color-light);
    padding: 24px;
    border-radius: 12px;
    max-width: 320px;
    border: 1px solid #efefef;

    &__image {
      @include square(72px);
      margin-bottom: 16px;
    }

    &__title {
      @include fluid-text(20);
      font-weight: 600;
      margin-bottom: 12px;
    }

    &__text {
      @include fluid-text(14);
      color: var(--color-gray);
      line-height: 1.5;
    }

    &:nth-child(2) {
      background-color: var(--color-accent);
      color: var(--color-light);

      .service-card__text {
        color: var(--color-light);
      }
    }

    @include desktop-above {
      flex: 0 1 30%;
    }
  }
}